<!-- ABOUT SECTION -->
<section id="about" class="about">

<section id="sobreMi" class="sobreMi">
    <h2 class="sobreMi__title">Sobre mí</h2>
    <p>¡Hola! Soy Lucía, una desarrolladora Frontend Junior apasionada por la tecnología y la creación de experiencias web interactivas. Me encanta aprender nuevas herramientas y tecnologías, y siempre estoy buscando mejorar mis habilidades. A lo largo de mi trayectoria, he trabajado en diversos proyectos que abarcan desde aplicaciones responsivas hasta paneles de administración, utilizando tecnologías como React, TypeScript, SCSS y PHP con Laravel.</p>
    <p>Me esfuerzo por mantenerme actualizada con las últimas tendencias de desarrollo frontend y siempre busco oportunidades para seguir aprendiendo y crecer profesionalmente. ¡Estoy emocionada de compartir mis proyectos y conocimientos contigo!</p>
</section>

</section>
<!-- END ABOUT SECTION -->