<!-- ABOUT SECTION -->
<section id="about" class="about">
    <section id="about" class=" max-width">
        <h2 class="about__title">Sobre mí</h2>
        <p class="about__p">¡Hola!</p>

        <p  class="about__p">Soy Lucía, una desarrolladora Frontend Junior apasionada por la tecnología y la creación de experiencias web
            interactivas. Me encanta aprender nuevas herramientas y tecnologías, y siempre estoy buscando mejorar mis
            habilidades. A lo largo de mi trayectoria, he trabajado en diversos proyectos que abarcan desde aplicaciones
            responsivas hasta paneles de administración.</p>

        <p class="about__p">Soy una persona inquieta, constante y curiosa. Comencé estudiando de forma autodidacta, he
            realizado varios cursos online y en Marzo empecé a formarme profesionalmente en la academia Oxygen Workspace
            con el trainning Full Stack.
        </p>

        
        <a href="https://github.com/LuLuMS0206/PortFolioLucia/blob/main/LUCIA%20MACHO%20CV.pdf" class="about__button" target="_blank"><img
                class="about__img" src="assets/img/CVICON.webp" alt="">
        </a>
    </section>

</section>
<!-- END ABOUT SECTION -->