<!-- ABOUT SECTION -->
<section id="about" class="about max-width">

<section id="about" class="sobreMi">
    <h2 class="sobreMi__title">Sobre mí</h2>
    <p>¡Hola! Soy Lucía, una desarrolladora Frontend Junior apasionada por la tecnología y la creación de experiencias web interactivas. Me encanta aprender nuevas herramientas y tecnologías, y siempre estoy buscando mejorar mis habilidades. A lo largo de mi trayectoria, he trabajado en diversos proyectos que abarcan desde aplicaciones responsivas hasta paneles de administración.</p>
    <p>Me esfuerzo por mantenerme actualizada con las últimas tendencias de desarrollo frontend y siempre busco oportunidades para seguir aprendiendo y crecer profesionalmente. ¡Estoy emocionada de compartir mis proyectos y conocimientos contigo!</p>
    <a href="file:///C:/Users/User/Desktop/LUCIA%20MACHO%20CV.pdf" class="about__button" target="_blank"><img class="about__img" src="assets/img/CVICON.webp" alt=""></a>
</section>

</section>
<!-- END ABOUT SECTION -->