<div id="contact" class="contact__buttons">
    <h2>Contacto</h2>
    <p>Puedes contactarme por cualquiera de las siguientes vías</p>
    <a href="https://github.com/LuLuMS0206" class="contact__button" target="_blank"> <img class="contact__img" src="assets/img/Github.png" alt=""></a>
    <a href="https://www.linkedin.com/in/lucia-macho-sanchez-a2a200265" class="contact__button" target="_blank"> <img class="contact__img" src="assets/img/icona-linkedin.png" alt=""></a>
    <a href="file:///C:/Users/User/Desktop/LUCIA%20MACHO%20CV.pdf" class="contact__button" target="_blank"><img class="contact__img" src="assets/img/CVICON.webp" alt=""></a>
    <p><span class="material-symbols-outlined">
        mail
        </span>
        luciamacho00@gmail.com
    </p>

    <p>
        <span class="material-symbols-outlined">
            phone_callback
            </span>
            662 321 800
    </p>
</div>