<div id="contact" class="contact ">
    <div >
        <!-- <h2 class="contact__title">Contacto</h2> -->
        <p>Puedes contactarme por cualquiera de las siguientes vías:</p>
        <a href="https://github.com/LuLuMS0206" class="contact__button" target="_blank"> <img class="contact__img"
                src="assets/img/Github.png" alt=""></a>
        <p class="contact__p"><span class="material-symbols-outlined contact__icon">
                mail
            </span>
            luciamacho00@gmail.com
        </p>

        <p class="contact__p">
            <span class="material-symbols-outlined contact__icon">
                phone_callback
            </span>
            662 321 800
        </p>
        <a href="https://www.linkedin.com/in/lucia-macho-sanchez-a2a200265" class="contact__button" target="_blank">
            <img class="contact__img" src="assets/img/icona-linkedin.png" alt=""></a>

    </div>
</div>