<h1>"There are no limits to what you can accomplish
    except the limits you place on your own thinking."</h1>

<!-- PROJECTS SECTION -->
<section id="projects" class="projects">
    <h2 class="projects__title"> Proyectos</h2>
    <div class="projects__list">
        <!-- Card Oxygen Shop -->
        <div class="card">
            <img src="src/assets/img/oxygenshop.JPG" alt="">
            <h3>Oxygen Shop</h3>
            <p>"Página de inicio de una tienda en línea, completamente responsiva, desarrollada con HTML, SCSS y JavaScript. Ofrece una experiencia de usuario fluida y adaptada a diferentes dispositivos."</p>
            <a href="https://lulums0206.github.io/Proyecto-final-Modulo-1/" class="card__button" target="_blank"><span class="material-symbols-outlined">
                bubble
                </span></a>
        </div>

        <!-- Card Image Search -->
        <div class="card">
            <h3>Buscador de Imágenes</h3>
            <p>"Aplicación web responsiva de búsqueda de imágenes, desarrollada con React, TypeScript y Redux. Incluye componentes estilizados para una experiencia de usuario fluida y moderna."</p>
            <a href="http://myphotosreact.s3-website.eu-west-3.amazonaws.com" class="card__button" target="_blank"><span class="material-symbols-outlined">
                bubble
                </span></a>
        </div>

        <!-- Card Hotel Miranda -->
        <div class="card">
            <h3>Hotel Miranda</h3>
            <p>"Sitio web responsive para un hotel, desarrollado con HTML, SCSS, JavaScript y PHP utilizando el framework Laravel. Optimizado para ofrecer una experiencia de usuario fluida y funcional en distintos dispositivos."</p>
            <a href="https://lulums0206.github.io/Hotel-Miranda-/" class="card__button" target="_blank"><span class="material-symbols-outlined">
                bubble
                </span></a>
        </div>

        <!-- Card Dashboard Miranda -->
        <div class="card">
            <h3>Dashboard Miranda</h3>
            <p>"Panel de control para gestión hotelera, diseñado en exclusiva para escritorio. Desarrollado con React, TypeScript y Redux, incorpora componentes estilizados para una interfaz eficiente y moderna."</p>
            <a href="http://dashboard-miranda-aws.s3-website.eu-west-3.amazonaws.com" class="card__button" target="_blank"><span class="material-symbols-outlined">
                bubble
                </span></a>
        </div>
    </div>
</section>
<!-- END PROJECTS SECTION -->