<!-- SKILLS SECTION -->
<section id="skills" class="skills">
    <h2 class="skills__title">Skills</h2>
    <p>Tecnologías en las que tengo experiencia:</p>
    <div class="skills__list">
        <img class="skills__icon" src="./../../assets/img/Amazon.png" alt="">
        <img  class="skills__icon" src="./../../assets/img/react.svg" alt="">
        <img  class="skills__icon" src="./../../assets/img/Angular.png" alt="">
        <img  class="skills__icon" src="./../../assets/img/css3.png" alt="">
        <img  class="skills__icon" src="./../../assets/img/figma.png" alt="">
        <img  class="skills__icon" src="./../../assets/img/HTML5.png" alt="">
        <img  class="skills__icon" src="./../../assets/img/Git_icon.svg.png" alt="">
        <img  class="skills__icon" src="./../../assets/img/javascript.png" alt="">
        <img  class="skills__icon" src="./../../assets/img/typescript.svg" alt="">
        <img  class="skills__icon" src="./../../assets/img/php.svg" alt="">
        <img  class="skills__icon" src="./../../assets/img/redux.svg" alt="">
        <img  class="skills__icon" src="./../../assets/img/scss.svg" alt="">
        <img  class="skills__icon" src="./../../assets/img/cypress.svg" alt="">
        <img  class="skills__icon" src="./../../assets/img/jest.svg" alt="">
    </div>
</section>
<!-- END SKILLS SECTION -->