<section id="skills" class="skills">
    <div class="max-width">
        <h2 class="skills__title">Skills</h2>
        <p class="skills__p">Tecnologías en las que tengo experiencia:</p>
        <div class="skills__list">
            <div class="slider">

                <a href="https://aws.amazon.com/" target="_blank">
                    <img class="skills__icon" src="./../../assets/img/Amazon.png" alt="Amazon">
                </a>
                <img class="skills__icon" src="./../../assets/img/react.svg" alt="React">
                <img class="skills__icon" src="./../../assets/img/Angular.png" alt="Angular">
                <img class="skills__icon" src="./../../assets/img/css3.png" alt="CSS3">
                <img class="skills__icon" src="./../../assets/img/figma.png" alt="Figma">
                <img class="skills__icon" src="./../../assets/img/HTML5.png" alt="HTML5">
                <img class="skills__icon" src="./../../assets/img/Git_icon.svg.png" alt="Git">
                <img class="skills__icon" src="./../../assets/img/javascript.png" alt="JavaScript">
                <img class="skills__icon" src="./../../assets/img/typescript.svg" alt="TypeScript">
                <img class="skills__icon" src="./../../assets/img/php.svg" alt="PHP">
                <img class="skills__icon" src="./../../assets/img/redux.svg" alt="Redux">
                <img class="skills__icon" src="./../../assets/img/scss.svg" alt="SCSS">
                <img class="skills__icon" src="./../../assets/img/cypress.svg" alt="Cypress">
                <img class="skills__icon" src="./../../assets/img/jest.svg" alt="Jest">


                <img class="skills__icon" src="./../../assets/img/Amazon.png" alt="Amazon">
                <img class="skills__icon" src="./../../assets/img/react.svg" alt="React">
                <img class="skills__icon" src="./../../assets/img/Angular.png" alt="Angular">
                <img class="skills__icon" src="./../../assets/img/css3.png" alt="CSS3">
                <img class="skills__icon" src="./../../assets/img/figma.png" alt="Figma">
                <img class="skills__icon" src="./../../assets/img/HTML5.png" alt="HTML5">
                <img class="skills__icon" src="./../../assets/img/Git_icon.svg.png" alt="Git">
                <img class="skills__icon" src="./../../assets/img/javascript.png" alt="JavaScript">
                <img class="skills__icon" src="./../../assets/img/typescript.svg" alt="TypeScript">
                <img class="skills__icon" src="./../../assets/img/php.svg" alt="PHP">
                <img class="skills__icon" src="./../../assets/img/redux.svg" alt="Redux">
                <img class="skills__icon" src="./../../assets/img/scss.svg" alt="SCSS">
                <img class="skills__icon" src="./../../assets/img/cypress.svg" alt="Cypress">
                <img class="skills__icon" src="./../../assets/img/jest.svg" alt="Jest">
            </div>
        </div>
    </div>
</section>